{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/register_style.css') }}">
{% endblock %}

{% block body %}
    <div class="content-wrapper" id="content-wrapper">
        <h1>Inscription</h1>

        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.username) }}
            {{ form_row(registrationForm.plainPassword) }}
            {{ form_row(registrationForm.firstName) }}
            {{ form_row(registrationForm.lastName) }}
            {{ form_row(registrationForm.titre) }}
            {{ form_row(registrationForm.classe) }}

            <button>Inscription</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        var usernameField = document.getElementById('registration_form_username');
        var passwordField = document.getElementById('registration_form_plainPassword');
        var firstNameField = document.getElementById('registration_form_firstName');
        var lastNameField = document.getElementById('registration_form_lastName');

        passwordField.onclick = function() {
            var password = Math.random().toString(36).slice(-8);
            passwordField.value = password;
            textToClipboard(password);

            var username = usernameField.value.split('.');
            firstNameField.value = capitalizeFirstLetter(username[0]);
            lastNameField.value = capitalizeFirstLetter(username[1]);
        };

        function textToClipboard (text) {
            var dummy = document.createElement("textarea");
            document.body.appendChild(dummy);
            dummy.value = text;
            dummy.select();
            document.execCommand("copy");
            document.body.removeChild(dummy);
        }

        function capitalizeFirstLetter(string) {
            return string.charAt(0).toUpperCase() + string.slice(1);
        }
    </script>
{% endblock %}