{% extends 'base.html.twig' %}

{% block title %}Mes chaudoudoux{{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/chaudoudoux_style.css') }}">
{% endblock %}

{% block body %}
    <div class="content-wrapper" id="content-wrapper">
        <div class="content-subwrapper">
            <h3 class="content-title">Nouveau chaudoudoux</h3>
            <p class="chaudoudoux-from">De: <span>{{ chaudoudoux.fromUserFull }}</span></p>
            <p class="chaudoudoux-date">Le {{ chaudoudoux.publishedAt|date('d', 'Europe/Paris') }} mai à {{ chaudoudoux.publishedAt|date('H:i', 'Europe/Paris') }}</p>
            <div class="chaudoudoux-back chaudoudoux-side" id="chaudoudoux-back">
                <img src="{{ asset("img/chaudoudoux/" ~ chaudoudoux.image) }}" alt="Image chaudoudoux" class="image-chaudoudoux"/>
            </div>
            <div class="chaudoudoux-front chaudoudoux-side" id="chaudoudoux-front">
                <p class="chaudoudoux-front-to">À: <span>{{ chaudoudoux.toUserFull }}</span></p>
                <p class="chaudoudoux-front-text">{{ chaudoudoux.text }}</p>
            </div>
            <button class="flip-button" id="flip-button"><img src="{{ asset('img/flip.png') }}" alt="Icône flip"/></button>
            <button class="btn btn-blue btn-answer" id="credits-alert">Répondre</button>
        </div>

        <div class="credits-alert-wrapper" id="credits-alert-wrapper">
            <div class="credits-alert-wrapperbis">
                <button id="credits-alert-exit"></button>
                {% include 'content/credits_alert.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        var chaudoudouxBack = document.getElementById("chaudoudoux-back");
        var chaudoudouxFront = document.getElementById("chaudoudoux-front");
        var flipButton = document.getElementById("flip-button")

        var state = 0 /* 0=back 1=front */


        chaudoudouxFront.style.height = chaudoudouxBack.offsetHeight + 'px';

        chaudoudouxBack.onclick = function(){
            chaudoudouxBack.style.display = "none";
            chaudoudouxFront.style.display = "block";
            state = 1;
        };

        chaudoudouxFront.onclick = function(){
            chaudoudouxFront.style.display = "none";
            chaudoudouxBack.style.display = "block";

            state = 0;
        };

        flipButton.onclick = function(){
            if(state === 1){
                chaudoudouxFront.style.display = "none";
                chaudoudouxBack.style.display = "block";

                state = 0;
            }else{
                chaudoudouxBack.style.display = "none";
                chaudoudouxFront.style.display = "block";

                state = 1;
            }
        };



        var creditsAlert = document.getElementById("credits-alert");
        var creditsAlert_exit= document.getElementById("credits-alert-exit");
        var creditsAlertWrapper = document.getElementById("credits-alert-wrapper");

        creditsAlert.onclick = function(){
        creditsAlertWrapper.style.display = "flex";
        };

        creditsAlert_exit.onclick = function(){
        creditsAlertWrapper.style.display = "none";
        };


        document.onkeydown = function(evt) {
        var isEscape = false;
        if ("key" in evt) {
        isEscape = (evt.key === "Escape" || evt.key === "Esc");
        }
        if (isEscape) {
        creditsAlertWrapper.style.display = "none";
        }
        };
    </script>
{% endblock %}