{% extends 'base.html.twig' %}

{% block title %}Accueil{{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/homepage_loggedin_style.css') }}">
{% endblock %}

{% block body %}
    <div class="content-wrapper" id="content-wrapper">
        <div class="tableau-chaudoudoux">
            <div class="tableau-leftpart tableau-part">
                <div class="last-chaudoudoux">
                    <h3>Derniers chaudoudoux</h3>
                    <ul>
                   {% for chaudoudoux in lastChaudoudoux %}
                        <li>{{ chaudoudoux.toUserFull }}<span>, à {{ chaudoudoux.publishedAt|date('H:i', 'Europe/Paris') }}</span></li>
                    {% endfor %}
                    </ul>
                </div>
                <div class="meschaudoudoux">
                    <h3>Mes chaudoudoux</h3>
                    <div class="meschaudoudoux-btncontainer">
                        <a href="{{ path('app_meschaudoudoux') }}" class="meschaudoudoux-btn meschaudoudoux-btn-new"><p>Nouveau ({{ chaudoudouxUnseenLength}})</p><p>+</p></a>
                        <a href="{{ path('app_meschaudoudoux') }}" class="meschaudoudoux-btn"><p>Anciens ({{ chaudoudouxSeenLength}})</p><p>+</p></a>
                    </div>
                </div>
            </div>
            <div class="tableau-splitter"></div>
            <div class="tableau-rightpart tableau-part">
                <div class="classement">
                    <h3>Classement par classe</h3>
                    <div class="classement-classe-wrapper">
                        <div class="classement-classe-container">
                            {% for key, value in chaudoudouxClasseRanked %}
                                <div class="classement-classe{{ loop.index }} classement-classe"><p class="classement-classe-p">{% if key == "Ancien" %}Anciens{% else %}{{ key }}{% endif %}</p><p>{{ value }}</p></div>
                            {% endfor %}
                        </div>
                        <a href="{{ path('app_classement') }}" class="classement-complet">Classement complet</a>
                    </div>
                </div>
                <div class="compteur">
                    <h3>Compteur</h3>
                    <div class="compteur-container">
                        <p class="compteur-envoyes"><span>{{ chaudoudouxLength }} CHAUDOUDOUX</span><br/>envoyés depuis le<br/>début de l’opération</p>
                        <a href="{{ path('app_benefices') }}" class="compteur-argent"><span class="argent-compteur-soit">pour un total de</span><br/><span class="compteur-argent-value">1000€</span><br/>reversés à nos hôpitaux</a>
                    </div>
                </div>
            </div>
        </div>
        <button class="send-chaudoudoux-btn btn btn-blue" id="credits-alert">Envoyer un chaudoudoux</button>

        <div class="credits-alert-wrapper" id="credits-alert-wrapper">
            <div class="credits-alert-wrapperbis">
                <button id="credits-alert-exit"></button>
                {% include 'content/credits_alert.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        var creditsAlert = document.getElementById("credits-alert");
        var creditsAlert_exit= document.getElementById("credits-alert-exit");
        var creditsAlertWrapper = document.getElementById("credits-alert-wrapper");

        creditsAlert.onclick = function(){
            creditsAlertWrapper.style.display = "flex";
        };

        creditsAlert_exit.onclick = function(){
            creditsAlertWrapper.style.display = "none";
        };


        document.onkeydown = function(evt) {
        var isEscape = false;
        if ("key" in evt) {
            isEscape = (evt.key === "Escape" || evt.key === "Esc");
        }
        if (isEscape) {
            creditsAlertWrapper.style.display = "none";
        }
        };
    </script>
{% endblock %}