{% extends 'base.html.twig' %}

{% block title %}Profil{{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/profil_style.css') }}">
{% endblock %}

{% block body %}
    <div class="content-wrapper" id="content-wrapper">
        <h3 class="profil-title">Mon profil</h3>
        <p class="name">{{ app.user.firstName }} {{ app.user.lastName }}</p>
        <p class="role">
            {% set titre = app.user.titre %}
            {% if titre == "eleve" %}
                Élève (<span class="classe">{{ app.user.classe }}</span>)
            {% else %}
                {{ titre|capitalize }}
            {% endif %}
        </p>
        <p class="credits">Chaudoudoux disponibles: <span>{{ app.user.credits }}</span></p>


        <button class="buy-btn btn btn-blue" id="buy-credits">Acheter des chaudoudoux</button>

        <h4 class="chaudoudoux-sent-title">Mes chaudoudoux envoyés</h4>
        {% if chaudoudoux|length == 0 %}
            <p>Vous n'avez toujours pas envoyé de chaudoudoux ! <a href="{{ path('app_newChaudoudoux') }}" class="noChaudoudouxSent-a">En envoyer un</a></p>
        {% else %}
            {% for chaudoudoux in chaudoudoux %}
                <a href="{{ path('app_chaudoudoux', {'id': chaudoudoux.id}) }}" class="chaudoudoux-wrapper">
                    {% if chaudoudoux.seen == 1 %}
                        <span class="chaudoudoux-seen">Vu</span>
                    {% endif %}
                    À: <span class="chaudoudoux-from">{{ chaudoudoux.toUserFull }}</span><span class="chaudoudoux-date">, le {{ chaudoudoux.publishedAt|date('d', 'Europe/Paris') }} mai à {{ chaudoudoux.publishedAt|date('H:i', 'Europe/Paris') }}</span>
                </a>
            {% endfor %}
        {% endif %}

        <a href="{{ path('app_logout') }}" class="logout-btn btn">Déconnexion</a>

        <div class="buy-credits-wrapper" id="buy-credits-wrapper">
            <div class="buy-credits-wrapperbis">
                <button id="buy-credits-exit"></button>
                <div class="buy-credits-content">
                    <p class="buy-credits-info">Bénéfices intégralement reversés à nos hôpitaux. <a href="{{ path('app_benefices') }}">En savoir plus.</a></p>
                    <p>Acheter 1 chaudoudoux</p>
                    <iframe id="haWidgetButton" src="https://www.helloasso.com/associations/maison-des-lyceens-du-lycee-europeen/paiements/achat-d-un-chaudoudoux/widget-bouton" style="border: none;"></iframe>
                    <p>Acheter 5 chaudoudoux</p>
                    <iframe id="haWidgetButton" src="https://www.helloasso.com/associations/maison-des-lyceens-du-lycee-europeen/paiements/achat-de-5-chaudoudoux/widget-bouton" style="border: none;"></iframe>
                    <p>Acheter 20 chaudoudoux</p>
                    <iframe id="haWidgetButton" src="https://www.helloasso.com/associations/maison-des-lyceens-du-lycee-europeen/paiements/achat-de-30-chaudoudoux/widget-bouton" style="border: none;"></iframe></iframe>
                    <p>Vous avez aussi la possibilité de faire un don (montant libre)</p>
                    <iframe id="haWidget" allowtransparency="true" src="https://www.helloasso.com/associations/maison%20des%20lyceens%20du%20lycee%20europeen/collectes/collecte-de-dons-de-la-mdl-pour-les-hopitaux/widget-bouton" style="width:100%;height:70px;border:none;"></iframe>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        var buyCredits = document.getElementById("buy-credits");
        var buyCredits_exit = document.getElementById("buy-credits-exit");
        var buyCreditsWrapper = document.getElementById("buy-credits-wrapper");

        buyCredits.onclick = function(){
            buyCreditsWrapper.style.display = "flex";
        };

        buyCredits_exit.onclick = function(){
            buyCreditsWrapper.style.display = "none";
        };


        document.onkeydown = function(evt) {
            var isEscape = false;
            if ("key" in evt) {
                isEscape = (evt.key === "Escape" || evt.key === "Esc");
            }
            if (isEscape) {
                buyCreditsWrapper.style.display = "none";
            }
        };
    </script>
{% endblock %}