{% extends 'base.html.twig' %}

{% block title %}Profil{{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/profil_style.css') }}">
{% endblock %}

{% block body %}
    <div class="content-wrapper" id="content-wrapper">
        <h3 class="profil-title">Mon profil</h3>
        <p class="name">{{ app.user.firstName }} {{ app.user.lastName }}</p>
        <p class="role">
            {% set titre = app.user.titre %}
            {% if titre == "eleve" %}
                Élève (<span class="classe">{{ app.user.classe }}</span>)
            {% else %}
                {{ titre|capitalize }}
            {% endif %}
        </p>
        <p class="credits">Chaudoudoux disponibles: <span>{{ app.user.credits }}</span></p>
        <a href="#" class="buy-btn btn btn-blue">Acheter des chaudoudoux</a>
        <a href="{{ path('app_logout') }}" class="logout-btn btn">Déconnexion</a>
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}