<!DOCTYPE html>
<html lang="french">
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, maximum-scale=1"/>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-164564770-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-164564770-1');
        </script>
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">
        <link rel="icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">
        <title>{% block title %} | Chaudoudoux{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/app.css') }}">
            <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        <section class="desktop">
        <div class="page-container">
            <div class="fullcontent-wrapper" id="fullcontent-wrapper">
            <header>
                <div class="title-section">
                    <a href="{{ path('app_homepage') }}">
                        <img src="{{ asset('img/logo-lycee.png') }}" alt="Logo lycée" class="logo-lycee"/>
                        <div class="title">
                            <h2>Maison des Lycéens du Lycée Européen</h2>
                            <h1>Chaudoudoux</h1>
                        </div>
                    </a>
                </div>

                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a href="{{ path('app_profil', {'username': app.user.username}) }}" class="profil">{{ app.user.firstName|first }}{{ app.user.lastName|first }}</a>
                {% endif %}
            </header>

            {% include 'flash_messages.html.twig' %}
            {% block body %}
            {% endblock %}
            </div>

            <footer>
                <p class="contact">Pour tout problème, contactez la MDL via <a href="https://www.instagram.com/mdleuro/">Instagram (@mdleuro)</a>, via Néo (un des membres de l’équipe), ou par <a href="mailto:julesdupont02@gmail.com">mail</a></p>
                <a href="{{ path('app_moderation') }}" class="link-footer">Modération</a>
                <a href="{{ path('app_benefices') }}" class="link-footer">Reversement des bénéfices</a>
                <a href="https://github.com/Jules02/chaudoudoux" class="link-footer-github"><img src="{{ asset('img/github.png') }}" alt="Logo Github"/></a>
                <p class="copyright">© 2020 MDL</p>
            </footer>
        </div>
        </section>

        <section class="mobile">
            <div class="mobile-header">
                <img src="{{ asset('img/logo-mobile.png') }}" alt="Logo lycée" class="mobile-logo-lycee"/>
                <div class="mobile-title title">
                    <h2>Maison des Lycéens du Lycée Européen</h2>
                    <h1>Chaudoudoux</h1>
                </div>
            </div>

            <p class="mobile-unavailable">Malheureusement, la plateforme de chaudoudoux n'est accessible que sur ordinateur 😕</p>
        </section>

        <script>
            window.onload = function() {
                var contentWrapper = document.getElementById("content-wrapper");
                var fullContentHeight = contentWrapper.offsetHeight + 172;

                if (fullContentHeight <= window.innerHeight) {
                    document.getElementById("fullcontent-wrapper").style.height = "100vh";
                }
            }
        </script>

        {% block javascripts %}{% endblock %}
    </body>
</html>
